<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="benchConfiguration" type="Bench.Common.Configuration.BenchConfiguration, Bench.Common"/>
  </configSections>

  <benchConfiguration>
    
    <messageQueues>
      <add Name="IntegrationTestsMsmqUtilityUnitTestQueue1" Path=".\private$\IntegrationTestsMsmqUtilityUnitTestQueue1"/>
      <add Name="IntegrationTestsMsmqUtilityUnitTestQueue2" Path=".\private$\IntegrationTestsMsmqUtilityUnitTestQueue2"/>
      <add Name="IntegrationTestsMsmqUtilityUnitTestQueue3" Path=".\private$\IntegrationTestsMsmqUtilityUnitTestQueue3"/>
    </messageQueues>
    
    <!--
    <appConfigTransforms>
      <add Name="MbmConsoleHost"              SourceConfigFile       = "..\..\Resources\ConfigTransforms\MbmConsoleHostApp.config.transform"
                                              DestinationConfigFile  = "..\..\MBM\FirstSolar.Mes.Messaging.Console.exe.config"
                                              Node                   = "configuration" />

      <add Name="CacheEventCreatedProcessor"  SourceConfigFile       = "..\..\Resources\ConfigTransforms\CacheEventCreatedProcessorApp.config.transform"
                                              DestinationConfigFile  = "..\..\MBM\MessageProcessors\Cache Event Created Processor\processor.config"
                                              Node                   = "configuration" />

      <add Name="MesLoggingProcessor"         SourceConfigFile       = "..\..\Resources\ConfigTransforms\MesLoggingProcessorApp.config.transform"
                                              DestinationConfigFile  = "..\..\MBM\MessageProcessors\MesLogging\processor.config"
                                              Node                   = "configuration" />

      <add Name="CommandStoreServiceHost"     SourceConfigFile       = "..\..\Resources\ConfigTransforms\CommandStoreServiceHostApp.config.transform"
                                              DestinationConfigFile  = "..\..\..\..\Source\Server\CommandStoreServiceHost\bin\Debug\FirstSolar.Mes.Apps.CommandStore.ServiceHost.exe.config"
                                              Node                   = "configuration" />
    </appConfigTransforms>
    
    
    <sqlServerDatabaseRestorations>
      
      <add Name="IntegrationTestOne" 
           ServerInstanceName="localhost\SQLEXPRESS" 
           BakPathAndFileName="C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\Backup\IntegrationTestOne.bak" 
           DatabaseRestoreName="IntegrationTestOne" 
           LogicalFileName="IntegrationTestOne" 
           MdfDirectory="C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\" 
           LdfDirectory="C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\"/>

      <add Name="IntegrationTestTwo" 
           ServerInstanceName="localhost\SQLEXPRESS" 
           BakPathAndFileName="C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\Backup\IntegrationTestTwo.bak" 
           DatabaseRestoreName="IntegrationTestTwo" 
           LogicalFileName="IntegrationTestTwo" 
           MdfDirectory="C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\" 
           LdfDirectory="C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\"/>
      
    </sqlServerDatabaseRestorations>
    -->
    
    <processes>
      <add Name="cmd"     PathToExe="C:\Windows\System32\cmd.exe"     StartDelayInMilliseconds="3000"/>
      <add Name="notepad" PathToExe="C:\Windows\System32\notepad.exe" StartDelayInMilliseconds="5000"/>
    </processes>   
    
  </benchConfiguration>  
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
